.advantage
  padding-top: 105px
  padding-bottom: 105px
  @media (max-width: $desktop-main)
    padding: 100px 20px 100px 20px
  &__title
    max-width: $desktop-main
    margin: 0 auto
    margin-bottom: 85px
    @media (max-width: $desktop-main)
      text-align: center
  &__wrapper
    max-width: $desktop-main
    margin: 0 auto
    display: flex
    @media (max-width: 650px)
      flex-wrap: wrap
  &__list
    display: flex
    flex-wrap: wrap
    align-content: flex-end
    @media (max-width: $desktop-main)
      max-width: 50%
    @media (max-width: $mobile-width)
      min-width: 100%
  &__item
    max-width: 380px
    margin-right: 20px
    margin-bottom: 50px
    @media (max-width: $desktop-main)
      position: relative
      margin-left: 100px
    &:nth-child(2n)
      margin-right: 0
    &:before
      color: $blue
      font-size: 46px
      line-height: 59px
      font-weight: 700
      @media (max-width: $desktop-main)
        position: absolute
        top: 15px
        left: -90px
      @media (max-width: $mobile-width)
        top: 4px
    &:nth-child(1):before
      content: '01'
    &:nth-child(2):before
      content: '02'
    &:nth-child(3):before
      content: '03'
    &:nth-child(4):before
      content: '04'
  &__text
    .orange
      color: $orange
  &__document
    position: relative
    @media (max-width: $desktop-main)
      margin: 0 auto
    @media (max-width: $mobile-width)
      & img
        width: 280px
  &__dots
    width: 80px
    height: 120px
    background-image: radial-gradient(#3069D6 41%, transparent 44%)
    background-position: 0 0, 10px 10px
    background-size: 20px 20px
    position: absolute
    z-index: -1
    &--up
      top: -32px
      left: -40px
    &--down
      bottom: -27px
      right: -37px
      @media (max-width: $desktop-main)
        bottom: 65px
      @media (max-width: $mobile-width)
        right: -12px
        bottom: -31px