.faq
  background: $blue-bg-dark
  color: $white
  padding-top: 105px
  &__title
    max-width: $desktop-main
    margin: 0 auto
    margin-bottom: 50px
    @media (max-width: $desktop-main)
      text-align: center
    @media (max-width: $mobile-width)
      padding: 0 20px
  &__wrapper
    max-width: $desktop-main
    margin: 0 auto
    display: flex
    border: 1px solid $white