.logic
  //background: $blue-bg, url($img + '/sec-5/pin.png')
  &__title
    width: $desktop-main
    margin: 0 auto
    margin-bottom: 50px
    padding-top: 105px
  &__list
    width: $desktop-main
    margin: 0 auto
    padding-bottom: 105px
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  &__item
    width: 350px
    height: 160px
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 50px
    padding: 15px
    background: $white
    border: 0.2px solid #D2DBEC
    box-sizing: border-box
    box-shadow: 0px 16px 40px rgba(131, 158, 213, 0.13)
  &__text
    text-align: center