.professionals
  width: $desktop-main
  margin: 0 auto
  padding-top: 105px
  padding-bottom: 105px
  &__title
    margin-bottom: 30px
  &__subtext
    width: 750px
    font-size: 28px
    margin-bottom: 50px
  &__list
    display: flex
    justify-content: space-between
  &__name
    margin-top: 30px
    font-size: 24px
    line-height: 32px
    font-weight: 700
  &__wrapper
    position: relative
  &__dots
    position: absolute;
    width: 120px;
    height: 80px;
    background-image: radial-gradient(#f2f2f2 45%,transparent 45%);
    background-position: 0 0,10px 10px;
    background-size: 20px 20px;
    z-index: -1
    &--up
      left: calc(50% - 639px);
      top: -32px;
    &--down
      right: calc(50% - 639px)
      bottom: 66px
