.statistics
  position: relative
  @media (max-width: $desktop-main)
    padding: 0 20px
  &__title
    max-width: 1174px
    margin: 0 auto
    margin-top: 105px
    .blue
      color: $blue
  &__list
    position: relative
    margin-top: 105px
    margin-bottom: 105px
    display: flex
    justify-content: flex-end
    max-width: 1550px
    height: 270px
    left: calc(50% - 960px)
    background: $blue
    color: $white
    @media (max-width: $desktop-main)
      left: 0
    @media (max-width: $tablet-width)
      flex-wrap: wrap
    @media (max-width: $mobile-width)
      height: auto
      justify-content: center
  &__item
    width: 235px
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    border-left: 0.25px solid $white
    cursor: pointer
    &:first-child
      border: none
    &:hover
      background-color: $white
      color: $blue
      box-shadow: 0px 5px 18px rgba(102, 102, 102, 0.16);
    @media (max-width: $tablet-width)
      border-bottom: 0.25px solid $white
      &:nth-child(4)
        border-bottom: none
      &:nth-child(5)
        border-bottom: none
    @media (max-width: $mobile-width)
      padding: 25px
      border: none
      border-top: 0.25px solid $white
  &__number
    font-size: 40px
    line-height: 49px
    font-weight: 700
  &__text
    font-size: 18px
    line-height: 22px
    font-weight: 500
    text-align: center
  &__dots
    width: 160px
    height: 120px
    background-image: radial-gradient(#F2F2F2 45%, transparent 45%)
    background-position: 0 0, 10px 10px
    background-size: 20px 20px
    position: absolute;
    right: calc(50% - 653px)
    bottom: 212px
    z-index: -1
    @media (max-width: $desktop-main)
      right: calc(50% - 353px)
    @media (max-width: $mobile-width)
      right: calc(50% - 153px)
      bottom: -50px